<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
<head>
    <title>{% block title %}{{ configuration.app.name }}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' id="viewport" content='width=device-width,initial-scale=1,user-scalable=0' />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
{#    <link rel="icon" href="{{ asset('build/favicons/favicon.ico') }}" />#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicons/favicon-16x16.png') }}">#}
{#    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicons/favicon-32x32.png') }}">#}
{#    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/favicons/android-chrome-192x192.png') }}">#}
{#    <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('build/favicons/android-chrome-512x512.png') }}">#}
{#    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/favicons/apple-touch-icon.png') }}">#}
{#    <link rel="manifest" href="{{ asset('build/favicons/site.webmanifest') }}">#}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
